/*
    ==================================
               Box-Sizing
    ==================================
*/
*,
*:before,
*:after {
    box-sizing: border-box;
}

/*
    ==================================
                Body
    ==================================
*/
body {
    background-image: url("https://images.pexels.com/photos/297755/pexels-photo-297755.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb");
    background-size: cover;
    background-repeat: no-repeat;
}

/*
    ==================================
                Home Page
    ==================================
*/
.sapphire-app {
    text-align: center;
}

.app-title {
    font-size: 5em;
    font-family: "Helvetica Neue";
    color: azure;
    letter-spacing: .1em;
    font-weight: 500;
    text-shadow: 3px 3px black;
    padding-bottom: 5px;
    margin-top: 200px;
    margin-bottom: 0;
}

.sapphire-itinerary-div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.sapphire-itinerary-form label{
    font-size: 2.5em;
    color: azure;
    display: block;
    text-shadow: 3px 3px black;
    letter-spacing: .1em;
}

.sapphire-itinerary-form input{
    width: 700px;
    font-size: 33px;
    border-radius: 10px;
    margin-top: 10px;

}

.sapphire-itinerary-form button{
    font-size: 30px;
    background-color: lightgreen;
    color: azure;
    border-radius: 10px;
    border: 3px solid azure;
    font-weight: 600;
}

.sapphire-auth-div {
    padding-top: 10px;
    text-align: right;
    margin-right: 50px;
    margin-top: 20px;
}

.sapphire-app-login {
    font-size: 1.4em;
    text-decoration: none;
    color: lightgrey ;
    padding: 0 10px;
    font-weight: 550;

}

.border {
    background-color: black;
    opacity: .7;
    display: inline-block;
    margin-top: 100px;
    padding: 150px;
}

.appp {
    margin-top: -200px;
    opacity: 1;
}