/*
    ==================================
               Box-Sizing
    ==================================
*/
*,
*:before,
*:after {
    box-sizing: border-box;
}

/*
    ==================================
                Body
    ==================================
*/


/*
    ==================================
                Home Page
    ==================================
*/

.bg-main {
    background-image: url("https://images.pexels.com/photos/297755/pexels-photo-297755.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.sapphire-app {
    text-align: center;
}

.app-title {
    font-size: 5em;
    font-family: "Helvetica Neue";
    color: azure;
    letter-spacing: .1em;
    font-weight: 500;
    text-shadow: 3px 3px black;
    padding-bottom: 5px;
    margin-top: 200px;
    margin-bottom: 0;
}

.sapphire-itinerary-div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.sapphire-itinerary-form label{
    font-size: 2.5em;
    color: azure;
    display: block;
    text-shadow: 3px 3px black;
    letter-spacing: .1em;
}

.sapphire-itinerary-form input{
    width: 700px;
    font-size: 33px;
    border-radius: 10px;
    margin-top: 10px;

}

.sapphire-itinerary-form button{
    font-size: 30px;
    background-color: lightgreen;
    color: azure;
    border-radius: 10px;
    border: 3px solid azure;
    font-weight: 600;
}

.sapphire-auth-div {
    padding-top: 10px;
    text-align: right;
    margin-right: 50px;
}

.sapphire-app-login {
    font-size: 1.4em;
    display: inline-block;
    text-decoration: none;
    color: lightgrey ;
    padding: 0 10px;
    font-weight: 550;

}

.border {
    background-color: black;
    opacity: .7;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 100px;
    padding: 130px;
}

.appp {
    margin-top: -200px;
    opacity: 1;
}

/*

    ==================================
                Login
    ==================================
*/

.bg-login {
    background-image: url("https://static.pexels.com/photos/239520/pexels-photo-239520.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.box-login {
    display: inline-block;
    background-color: #7C7A7A;
    opacity: .8;
    
    width: 400px;
    height: 600px;
    margin-top: 200px;
    margin-left: 800px;
    
}

.login-title {
    font-style: "Helvetica Neue";
    font-size: 2.5em;
    margin: 50px 145px;
    position: fixed;
}

.login-form {
    padding: 10px;
    margin: 130px 10px
}
.login-label-email {
font-style: "Helvetica Neue";
font-size: 2.5em;
padding: 10px;
margin-left: 120px;
}

.login-label-password {
font-style: "Helvetica Neue";
font-size: 2.5em;
padding: 10px;
margin-left: 90px;
}

.login-input {
    width: 300px;
    font-size: 1.75em;
    margin: 5px 30px;
    border: 2px solid black
}

.login-submit-button {
    font-size: 24px;
    margin-top: 25px;
    margin-left: 130px;
    background-color: white;
    color: black;
    border: 2px solid black
}


    ==================================
                Idea Board
    ==================================
*/
.event-node {
    display: flex;
    height: 300px;
    width: 300px;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    background-color: white;
    border-radius: 20%;
}

.event-image {
    height: 250px;
    width: 250px;
}

.event-title {
    position: relative;
    bottom: 100px;
}

.event-node > h2 {
    color: black;
    font-size: 20px;
    font-family: sans-serif;
    opacity: 0.7;
}

    ===========================================
                User Sign-Up
    ===========================================
*/

.sapphire-user-signup-div {
    background-image: url("https://images.pexels.com/photos/196666/pexels-photo-196666.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb");
    background-size: cover;
    height: 100vh;
}

.sapphire-user-signup-box {
    text-align: center;
}

.sapphire-user-signup-form {
    display: inline-block;
    border: 5px solid lightgrey;
    background-color: white;
    padding: 30px;
    margin-top: 200px;
    opacity: .75;
}

.sapphire-user-signup-form h1 {
    font-size: 3em;
    text-shadow: 2px 2px black;
    font-weight: 600;
    color: lightgrey;
}

.sapphire-user-signup-input label {
    display: block;
    font-size: 1.7em;
    padding-bottom: 2px;
    font-weight: 600;
    color: black;
}

.sapphire-user-signup-input input {
    width: 300px;
    font-size: 28px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.sapphire-user-signup-form button {
    font-size: 30px;
    border-radius: 10px;
    background-color: lightgreen;
    color: azure;
    font-weight: 600;
    padding: 4px 9px;
}


