/*
    ==================================
               Box-Sizing
    ==================================
*/

*,
*:before,
*:after {
    box-sizing: border-box;
}

/*
    ==================================
                  Body
    ==================================
*/

body {
    font-family: 'Montserrat', sans-serif;
}

/*
    ==================================
                 Home Page 
    ==================================
*/

.sapphire-app {
    text-align: center;
    background-image: url("https://files.slack.com/files-pri/T024FPYBQ-F7DUXCDC7/shutterstock_370732148.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.sapphire-app-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 5em;
    font-weight: 300;
    margin-top: 0;
    color: white;
    letter-spacing: .3em;
    padding-top: 30px;
    display: inline-block;
    margin-right: -200px;
}

.sapphire-itinerary-form input{
    width: 400px;
    height: 50px;
    font-size: 20px;
    border-radius: 5px;
    font-style: italic;
    display: inline-block;
}


.sapphire-itinerary-form button{
    font-size: 25px;
    background-color: #CD853F;
    color: white;
    padding: 8px;
    border-radius: 5px;
    margin-left: 15px;
    vertical-align: top;
}

.sapphire-auth-div {
    font-size: .8em;
    float: right;
    margin-top: 30px;
    margin-right: 50px;
}

.sapphire-app-login {
    font-size: 3em;
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 0 15px;
}

.sapphire-app-login:hover {
    text-decoration: none;
}

.sapphire-home-page-border {
    background-color: white;
    background: rgba(255, 255, 255, 0.5);
    margin-top: 50px;
    padding: 60px;
}

.sapphire-itinerary-div {
    padding: 100px;
}

#home-page-label {
    color: white;
    font-size: 2em;
    padding-bottom: 30px;
    display: block;
    letter-spacing: .3em;
}

.clearfix {
    clear: both;
    display: table;
    content: "";
}

/*
    ========================================
            Home Page Web Responsive
    ========================================
*/

@media (min-width: 870px) and (max-width: 1050px) {
    .sapphire-app-title {
        font-size: 3.0em;
    } 

    .sapphire-auth-div {
        font-size: .7em;
        float: right;
        margin-top: 25px;
        margin-right: 50px;
    }
}


@media (min-width: 600px) and (max-width: 869px) {
    .sapphire-app-title {
        font-size: 2em;
    } 
    .sapphire-auth-div {
        font-size: .5em;
        float: right;
        margin-top: 25px;
        margin-right: 50px;
    }
}

@media (min-width: 530px) and (max-width: 630px) {
    .sapphire-app-title {
        font-size: 1.4em;
        margin-left: -60px;
    } 
    .sapphire-auth-div {
        font-size: .6em;
        float: right;
        margin-top: 15px;
        margin-right: 50px;
    }
}

@media (min-width: 400px) and (max-width: 529px) {
    .sapphire-app-title {
        font-size: .8em;
        margin-left: -90px;
        margin-top: 20px;
    } 
    .sapphire-auth-div {
        font-size: .4em;
        float: right;
        margin-top: 35px;
        margin-right: 50px;
    }
}

@media (min-width: 500px) and (max-width: 790px) {
    .sapphire-itinerary-form input{
        width: 180px;
        height: 40px;
    }
    
    .sapphire-itinerary-form button{
        font-size: 17px;
    }
}

@media (min-width: 400px) and (max-width: 560px) {
    .sapphire-itinerary-form input{
        width: 130px;
        height: 35px;
    }
    
    .sapphire-itinerary-form button{
        font-size: 14px;
    }
}
 
/*
    ======================================
         Iphone Home Page Responsive
    ======================================
*/
@media only screen 
and (min-device-width : 375px) 
and (max-device-width: 667px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) 
{
    .sapphire-app-title {
        position: fixed;
        font-size: 2em;
        left: 100px;
    }

    .sapphire-auth-div { 
        float: none;
        margin: 0 auto;
        padding-top: 40px;
    }

    .sapphire-home-page-border {
        margin: 0;
        padding: 0;
    }
    
    #home-page-label {
        font-size: 1.4em;
    }

    .sapphire-itinerary-form input {
        width: 180px;
    }

    .sapphire-itinerary-form button {
        margin: 0 auto;
        margin-top: 10px;
    }
}

/*

    ==================================
                Login
    ==================================
*/

.bg-login {
    background-image: url("https://cdn.stocksnap.io/img-thumbs/960w/KPMRVAREV0.jpg");
    background-size: cover;
    height: 100vh;
}

.box-login {
    /* display: inline-block; */
    background-color: #7C7A7A;
    opacity: .90;
    box-shadow: 15%;
    width: 400px;
    height: 250px;
    /* text-align: center; */
    display:flex;
    /* justify-content:center; */
    align-items:center;
    margin: auto;
    /* margin-top: 200px; */
    /* margin-left: 800px; */
    
}

.login-title {

/*     font-family: "Helvetica Neue";
    font-size: 2.5em;
    margin: 50px 145px;
    position: fixed; */

    font-style: "Helvetica";
    font-size: 1.2em;
    text-align: center;
    /* padding-top: 5%; */
    
    /* position: center; */

}



.login-form {
    margin: auto;
    align-content: center;
}
.login-label-email {

/* font-family: "Helvetica Neue";
font-size: 2.5em;
padding: 10px;
margin-left: 120px;
}

.login-label-password {
font-family: "Helvetica Neue";
font-size: 2.5em;
padding: 10px;
margin-left: 90px; */

font-style: "Helvetica";
font-size: 1.2em;
/* padding: 5%; */
/* margin-left: 120px; */
}

.login-label-password {
font-style: "Helvetica";
font-size: 1.2em;
/* padding: 5%; */
/* margin-left: 90px; */

}

.login-input {
    width: 90%;
    height: 25px;
    font-style: "Helvetica";
    font-size: .8em;
    border-radius: 5%;
    /* margin: 5px 30px; */
    margin: 3%;
    border: 1px solid black
}

.login-submit-button {
    font-size: .8em;
    font-style: "Helvetica";
    margin: 4%;
    border-radius: 5%;
    width: 90%;
    height: 25px;
    /* margin-top: 25px; */
    /* margin-left: 130px; */
    background-color: white;
    color: black;
    border: 1px solid black
}






/*
    ===========================================
                   User Sign-Up
    ===========================================
*/

.sapphire-user-signup-div {
    background-image: url("https://cdn.stocksnap.io/img-thumbs/960w/UG76JFIIHZ.jpg");
    background-size: cover;
    height: 100vh;
}

.sapphire-user-signup-div h1 {
    color: white;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: .2em;
    font-weight: 100;
    text-align: center;
    font-size: 5em;
    padding-top: 60px;
}

.sapphire-user-signup-box {
    text-align: center;
    margin-top: 80px;
}

.sapphire-user-signup-form {
    display: inline-block;
    background: rgba(255,255,255, 0.7);
    padding: 60px;
}

.sapphire-user-signup-form h1 {
    font-size: 2em;
    color: white;
    text-align: right;
    margin-bottom: 30px;
}

.sapphire-user-signup-input input {
    width: 400px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    border-radius: 5px;
    margin-bottom: 50px;
}

.sapphire-user-signup-button-div {
    text-align: right;
}

.sapphire-user-signup-form button {
    font-size: 20px;
    border-radius: 5px;
    background-color: #D2691E;
    color: white;
    letter-spacing: .1em;
    padding: 4px 20px;
}

@media(min-width: 400px) and (max-width: 700px) {
    .sapphire-user-signup-div h1 {
        font-size: 2.5em;
    }
}

@media(min-width: 750px) and (max-width: 900px) {
    .sapphire-user-signup-form {
        padding: 40px;
    }

    .sapphire-user-signup-input input {
        width: 300px;
    }

}

@media(min-width: 560px) and (max-width: 750px) {
    .sapphire-user-signup-form {
        padding: 40px;
    }

    .sapphire-user-signup-input input {
        width: 200px;
    }

    .sapphire-user-signup-form button {
        font-size: 13px;
    }

    .sapphire-user-signup-form h1 {
        font-size: 1.2em;
    }
}

@media(min-width: 400px) and (max-width: 560px) {

    .sapphire-user-signup-div h1 {
        font-size: 2.4em;
    }

    .sapphire-user-signup-form {
        padding: 70px;
    }

    .sapphire-user-signup-input input {
        width: 130px;
    }

    .sapphire-user-signup-form button {
        font-size: 8px;
    }

    .sapphire-user-signup-form h1 {
        font-size: .9em;
    }
}


@media only screen 
and (min-device-width : 375px) 
and (max-device-width: 667px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {
    .sapphire-user-signup-div h1  {
        font-size: 2em;
        margin-top: -27px;
        margin-right: -20px;
    }

    .sapphire-user-signup-box {
        margin: 0;
        padding-top: 30px;
    }

    .sapphire-user-signup-form {
        padding: 40px;
    }

    .sapphire-user-signup-form h1 {
        font-size: 1.3em;
    }

    .sapphire-user-signup-input input{
        width: 220px;
    }

    .sapphire-user-signup-button-div button {
        width: 120px;
        font-size: 15px;
        padding: 4px 9px;
    }
}

/*
    ===========================================
                Dashboard/User-Home
    ===========================================
*/

.dash-div-image {
    background-image: url("https://static.pexels.com/photos/210200/pexels-photo-210200.jpeg");
    background-size: cover;
    display: flex;
    height: 700px;
    
}

#dash-title-border {
    background-color: #7C7A7A;
    height: 400px;
    width: 1200px;
    margin-left: 350px;
    margin-top: 100px;
    opacity: .6;
    
}

#dash-title {
    font-family: "Helvetica Neue";
    font-size: 8.5em;
    position: absolute;
    margin-left: 525px;
    margin-top: 200px;
    color: white;

}

#dash-welcome {
    font-size: 25px;
    font-family: "Helvetica Neue";
    margin-top: 35px;
    color: white;
}

#dash-logout {
    font-size: 25px;
    font-family: "Helvetica Neue";
    margin-top: 35px;
    margin-left: 30px;
    color: white;
}

.dash-itinerary {
    width: auto;
    height: 1500px;
}

.dash-groups {
    width: auto;
    height: 500px;
    background-color: #F09903;
}

#dash-myItinerary-header {
    display: absolute;
    font-family: "Helvetica Neue";
    font-size: 50px;
    margin-left: 800px;
    color: black;
}

#dash-header-line {
    width: 500px;
    height: 1px;
    border-bottom: 5px solid black;
    margin-left: 670px;
    margin-top: 100px;

}

#dash-myBuddies-header {
    float: left;
    font-family: "Helvetica Neue";
    font-size: 50px;
    margin-left: 800px;
    color: black;
}



/* =========================================
ITINERARY 
========================================= */

.itin-main {
    background-image: url("/assets/car-map.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

/* =========================================
MENU ITEM
========================================= */


.menu-item {
    font-family: 'Montserrat', sans-serif;
    padding: 15px;
    display: block;
    /* width: 60px; */
    color: #493716;
    text-decoration: none;
}

.menu-item:hover {
    background-color: #f4b642;
    color: white;
    text-decoration: none;
}

.menu-item-status {
    font-family: 'Montserrat', sans-serif;
    padding: 5px;
    display: block;
    /* width: 60px; */
    color: #493716;
    text-decoration: none;
    font-size: 5;
}

.menu-item-current-status {
    font-family: 'Montserrat', sans-serif;
    padding: 20px;
    display: block;
    /* width: 60px; */
    color: #493716;
    text-decoration: none;
    font-size: 5;
}

.menu-item-status:hover {
    background-color: #f4b642;
    color: white;
    text-decoration: none;
}

.sapphire-idea-board {
    border: 7px solid;
    display: inline-block;
    padding: 20px;
    background-color: white;
}

.sapphire-idea-board button{
    display: block;
    font-size: 30px;
    color: azure;
    background-color: lightgreen;
    border-radius: 10px;
    padding: 5px 9px;
    margin: 20px 0;
}

.sapphire-event-board {
    border: 10px solid black;
    display: inline-block;
    margin: 0 auto;
    width: 500px;
    height: 500px;
    margin-left: 200px;
}

.sapphire-event-box{
    border: 10px solid black;
    display: inline-block;
    margin: 0 auto;
    width: 500px;
    height: 1000px;
    margin-left: 200px;

 }


@media (min-width: 600px) and (max-width: 1200px) {
    #dash-title {
        font-size: 3.5em;
    }

}

/*
 ===============================================
                All Itineraries
 ===============================================
*/

.saffire-all-itineraries-div{
    background-image: url("https://cdn.stocksnap.io/img-thumbs/960w/75PYASX6U1.jpg");
    background-size: cover;
    height: 100vh;
}

.saffire-all-itineraries-div h1 {
    font-family: 'Montserrat', sans-serif;
    color: white;
    letter-spacing: .2em;
    text-align: center;
    font-size: 6em;
    padding-top: 30px;
}

.saffire-all-itineraries-div h3 {
    font-size: 2.5em;
    color: white;
    text-decoration: underline;
    text-align: center;
    letter-spacing: .2em;
    margin-top: 50px;
    font-weight: 100;
}

.saffire-all-itineraries-container {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(700px, 1fr));
}

.saffire-all-itineraries-item {
    padding: 40px;
}

.saffire-all-itineraries-item img {
    border-radius: 5px;
    width: 450px;
}

.little-saffire-item {
    color: white;
    background: rgba(190, 190, 190, 0.7);
    font-family: 'Montserrat', sans-serif;
    width: 450px;
    height: 230px;
    margin: 0 auto;
}

.little-saffire-item span{
    display: block;
    padding: 10px;
}

.sapphire-itin-name-x {
    font-size: 2.3em;
}

.sapphire-itin-name-y {
    font-size: 1.2em;
}

.sapphire-itin-name-z {
    font-size: 1.4em;
}

.sapphire-itin-name-z img {
    width: 45px;
    padding-right: 6px;
}

.sapphire-itin-name-xx {
    border: 1px solid black;
    background-color: grey;
    border-radius: 5px;
}







/*
    ==================================
                 Single Itinerary
    ==================================
*/

.single-itin-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 4em;
    font-weight: 300;
    color: black;
    letter-spacing: .3em;
    padding-top: 20px;
    display: inline-block;
    /* margin-right: -200px; */
    text-align: center;
}

.single-itin-image {
    padding: 10px;
    justify-content: 'center';
     align-items: 'center';
     width: 100%; 
     height: 70%;
}

.single-itin-header {
    text-align: center;
    /* background-image: url("http://www.australia.com/content/australia/en_us/facts/_jcr_content/mainParsys/hero/image.adapt.1663.medium.jpg"); */
    /* background-size: 10; */
    /* background-repeat: no-repeat; */
    /* height: 100vh; */
}

.single-itin-status {
    display: inline;
    padding: 20px;
    /* position: absolute; */
    /* bottom: 0; */
}



/*
    ==================================
               My Friends 
    ==================================
*/

.saffire-friends-container {
    background-image: url("https://cdn.stocksnap.io/img-thumbs/960w/U3ESM8YMDM.jpg");
    background-size: cover;
    height: 100vh;
}

.saffire-friends-title {
    font-size: 3.3em; 
    text-align: center;
    color: white;
    padding-top: 100px;
    text-decoration: underline;
    letter-spacing: .1em;
}

.saffire-friends-little-wrapper {
    padding-top: 80px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    color: white;
}

.saffire-friend-item {
    background-color: lightgrey;
    margin: 0 auto;
}

.saffire-friend-item img {
    border-radius: 10px;
    width: 300px;
}

.friend-align {
    text-align: center;
    color: white;
    font-size: 1.8em;
    padding: 20px 0;
}
/*
    ==================================
                Idea Board
    ==================================
*/

.event-node {
    display: flex;
    height: 300px;
    width: 300px;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    background-color: white;
    border-radius: 20%;
}

.event-image {
    height: 250px;
    width: 250px;
}

.event-title {
    position: relative;
    bottom: 100px;
}

.event-node > h2 {
    color: black;
    font-size: 20px;
    font-family: sans-serif;
    opacity: 0.7;
}

.idea-board-url {
    text-align: center;
    padding: 10px;
}

.idea-board-words {
    text-align: center;
    padding: 10px;
}




/* ========== google place search 


======== */

.geosuggest__suggests--hidden {
    max-height: 0;
    overflow: hidden;
    border-width: 0;
  }

.geosuggest__item--active {
background: #267dc0;
color: #fff;
}